[credential]
	helper = cache --timeout=360000
[user]
	email = jonathan@cubyn.com
	name = Jonathan Muller
[core]
	editor = vim
[push]
	default = simple
[ghi]
	token = !security find-internet-password -a pukoren -s github.com -l 'ghi token' -w
[alias]
    # one-line log
    l = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short

    a = add
    ap = add -p
    c = commit --verbose
    ca = commit -a --verbose
    cm = commit -m
    cam = commit -a -m
    m = commit --amend --verbose

    d = diff
    ds = diff --stat
    dc = diff --cached

    s = status -s
    co = checkout
    cob = checkout -b
    # list branches sorted by last modified
    b = "!git for-each-ref --sort='-authordate' --format='%(authordate)%09%(objectname:short)%09%(refname)' refs/heads | sed -e 's-refs/heads/--'"

    # list aliases
    la = "!git config -l | grep alias | cut -c 7-"
    lg = log --all --date=short --graph --pretty=tformat:'%Cred%h%Creset - %Cgreen%ad%Creset - %Cblue%an%Creset - %s %C(yellow)%d%Creset'
    
    # Remove already merged branches on master
    # Thanks to http://stevenharman.net/git-clean-delete-already-merged-branches
    prune = "git branch --merged | grep -v \\* | xargs -n 1 git branch -d"

[commit]
	gpgsign = false
[tag]
	gpgsign = true
[gpg]
	program = gpg2
